/* resetando config original */
*{
  padding: 0px;
  margin: 0px;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;  

}

  


  /* Menu ancora suave */
html{
  scroll-behavior: smooth;
}