/* resetando config original */
*{
  padding: 0px;
  margin: 0px;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;  

}

/* scroll */
::-webkit-scrollbar-thumb{
    background-color: var(--cor-1);
    
    
}
    
::-webkit-scrollbar{
    background-color: rgb(255, 255, 255);
    width: 14px;
    
}
    


  /* Menu ancora suave */
html{
  scroll-behavior: smooth;
}