/* header */

@media (max-width: 768px) {
    
    
    div.logo p{
        font-size: 22px;
    }
    
    header a{
        display: none;
    }
}



/* pagina 1 */

@media (max-width: 768px) {
    


    main p.p1{
        font-size: 14px;
        margin-top: 21px;
    }

    main h1.h1Principal{
        font-size: 30px;
        margin: 10px 20px 7px 20px;
    }

    main p.p2{
        margin: 0 15px ;
    }

    main button.buttonCtr1{
        width: 280px;
        height: 50px;
    }
}

/* pagina 2 */

@media (max-width: 768px) {
    .pagina02 .container {
        width: 100%;
        max-width: 100%;
    }

    .pagina02 .caixa {
        width: 100%;
        display: block;
        margin-top: -25px;
    }

    .pagina02 .caixa p{
        margin: 0px 30px 13px 30px;
    }
}


/* pagina 3 */
/* Responsividade para .pagina03 */
@media (max-width: 768px) {
    .pagina03 {
        height: auto;
        padding: 20px 0;
        margin-top: 450px; /* Adiciona margem superior no mobile */
    }

    .servicos {
        width: 90%;
        height: auto;
    }

    .linha {
        flex-direction: column;
    }

    .coluna {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }
}

/* pagina 4 */

@media (max-width: 768px) {
    div.pagina04 h1{
        font-size: 22px;
        font-weight: 700;
        margin-bottom: -25px;
    }

    div.pagina04 p{
        display: none;
    }

    div.pagina04 video{
        width: 90%;
        height: 300px;
    }
}