@charset "utf-8";

/* Header */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
   
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--cor-3);
    color: var(--cor-2);
    height: 100px;
}
.header .logo {
    font-size: 33px;
    font-weight: bold;
    color: var(--cor-2);
}
.header nav {
    display: flex;
    gap: 20px;
}
.header nav a {
    color: var(--cor-4);
    text-decoration: none;
    font-size: 16px;
}
.header nav a:hover {
 color: gray;
}

span.assinar{
    color: var(--cor-1);
}




/* Main 01 */

main.pagina01{
    text-align: center;
}

main p.p1{
    color: var(--cor-1);
    font-size: 15px;
    font-weight: 600;
    margin-top: 95px;

    
}


main h1.h1Principal{
font-size: 62px;
margin-top: 2px;
}

main h1 span.suporte{
    color: var(--cor-1);
}

main p.p2{
    font-size: 19px;
    margin-top: 2px;
    line-height: 1.4;
    span.chatGpt{
        color: var(--cor-1);
    }
}

 button.buttonCtr1{
    background-color: var(--cor-1);
    color: var(--cor-3);
    width: 220px ;
    height: 55px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 150px;
}





/* div 02 */
div.pagina02 {
    width: 100%;
    text-align: center;
    height: 320px;
}

div.container {
    display: inline-block;
    width: 90%;
    max-width: 1500px;
}

div.caixa {
    display: inline-block;
    background-color: white;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 27%;
    box-sizing: border-box;
    vertical-align: top;
}

.caixa i {
    font-size: 50px;
    color: var(--cor-1);
}

.caixa h1 {
    font-size: 27px;
    margin-bottom: 6px;
    margin-top: 8px;
}

.caixa p {
    font-size: 19px;
    color: var(--cor-2);
    line-height: 1.4;
}


/* div 03 */
.pagina03 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #F2F2F2;

}
.servicos {
    background-color: var(--cor-1);
    width: 350px;
    height: 400px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.servicos h1{
color: var(--cor-3);
margin-top: 10px;
margin-bottom: 35px;
}

.linha {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.coluna {
    flex: 1;
    padding: 0 10px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    margin: 25px 0;
    color: var(--cor-3);
}

li i{
    color: rgb(0, 255, 0);
}

button.buttonCtr2{
    background-color: var(--cor-3);
    color: var(--cor-2);
    width: 180px ;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 15px;
}






/* div 04 */
div.pagina04{
    text-align: center;
}

div.pagina04 h1{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 35px;
}

div.pagina04 p{
    margin-bottom: 20px;
    font-size: 19px;
}

div.pagina04 iframe{
    width: 760px;
    height: 450px;
    border-radius: 20px;
    margin-bottom: 50px;
}







/* div 05 */


.conteudo {
    flex: 1;
}
footer {
    background-color: var(--cor-1);
    color: #fff;
    text-align: center;
    padding: 20px 0;
   
}
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}
footer a:hover {
    text-decoration: underline;
}